html
{
  background: url("C:/Users/ccurr/OneDrive/Pictures/Saved pictures/Web project Pics/Counsel Website Pics/jumbotron_img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
