/*Color for navbar usage: #2f2d60; */
/*background color for entire page: #182233; */

body
{
  background-color: #182233;
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

#jumbotron_intro
{
  background-image: url("/pics/jumbotron_img_crop.jpg");
}

#jumbo_text
{
  margin: auto;
  text-align: center;
  font-size: 100%;
  font-weight:bold;
  color: #FFFFFF;
}

#sub_heading_text
{
  font-style: italic;
  padding-bottom: 15px;
}

.fade_text
{
  display: none;
  color: #bab032;
  font-weight: bolder;
  font-size: 300%;
}

#jumbotron_crd_services
{
  background-image: url("/pics/ice_mountain_crop.jpg");
  text-align: center;
}

.card
{
  background-color:transparent;
  color: #FFFFFF;
  border-color: currentColor;
  font-size: 150%;
}

.card-title
{
  text-align: center;

  border-color: #32aaba;
  border-radius: 20px;
  border-width: 15px;
  border-style: ridge;
  font-weight: bold;
}

li
{
  text-align: left;
}

/* About section styling: */
#h1_about
{
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 400%;
}

.rounded-circle
{
  width: 300px;
  height: 300px;
}

#p_about
{
  color: #FFFFFF;
  font-size: 125%;
  text-align: center;
}

#jumbotron_contact
{
  background-image: url("/pics/jumbotron_contact_img.jpg");
}

#h1_contact
{
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  color: #FFFFFF;
}

#map_local
{
  width: 100%;
}

#contact_info_1
{
  text-align: center;
  color: #000000;
  font-size: 200%;
  font-weight: bold;
}

#contact_info_2
{
  text-align: center;
  color: #000000;
  font-size: 200%;
  font-weight: bold;
}

#contact_info_3
{
  text-align: center;
  color: #000000;
  font-size: 200%;
  font-weight: bold;
}

#contact_info_4
{
  text-align: center;
  color: #000000;
  font-size: 200%;
  font-weight: bold;
}

.form-group
{
  text-align: center;
  padding: 2px;
  display: block;
  width: 100%;
}


#counsel_footer
{
  font-size: 200%;
  padding-left: 50px;
  line-height: 10px;
}

#facebook_link
{
  float: right;
  line-height: 20px;
}

.nav-link
{
  color: #32aaba;
}
